// Brown theme from Material Design
  $color-50 : #EFEBE9;  // Background
  $color-100: #D7CCC8;
  $color-200: #BCAAA4;
  $color-300: #A1887F;
  $color-400: #8D6E63;
  $color-500: #795548;  // Color action button
  $color-600: #6D4C41;  // Background day effect
  $color-700: #5D4037;  //  Header Background
  $color-800: #4E342E;
  $color-900: #3E2723;
